<div id="body_heading_">
  <h1><b>Kliknite tam, kde Vás to bolí...</b></h1>
</div>

<div class="submit">
  <%= submit_tag 'Hľadaj', class: 'btn btn-large btn-primary' %>
</div>

<img src="assets/Human-Body-450x1187.jpg" alt="HumanBody" usemap="#humanbodymap" id="humanBodyPicture">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart1">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart2">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart3">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart4">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart5">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart6">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart7">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart8">
<img src="assets/red-orb.png" height="40px" width="40px" alt="selectedPart" id="selectedPart9">

<map class="map" id="humanBodyPicture" name="humanbodymap">
  <area shape="poly" alt="" title="Oko" coords="213,81,206,76,197,79,194,82,203,82,203,82" href="" target="" data-body="1" />
  <area shape="poly" alt="" title="Oko" coords="241,77,251,82,243,85,232,80,232,80" href="" target="" data-body="1" />
  <area shape="poly" alt="" title="Nos" coords="227,79,232,104,212,104,219,79,219,79" href="" target="" data-body="3" />
  <area shape="poly" alt="" title="Ústa" coords="221,113,207,122,238,122,227,114,227,114" href="" target="" data-body="4" />
  <area shape="poly" alt="" title="Hlava" coords="221,19,191,32,178,51,176,78,177,94,180,112,183,135,189,144,198,150,211,153,227,154,239,154,254,144,263,133,265,112,268,90,269,73,269,57,266,45,258,34,243,23,227,18" href="" target="" data-body="5" />
  <area shape="poly" alt="" title="Ucho" coords="169,91,167,105,171,117,176,123,180,122,174,85" href="" target="" data-body="6" />
  <area shape="poly" alt="" title="Ucho" coords="277,91,275,106,268,126,265,118,272,86" href="" target="" data-body="6" />
  <area shape="poly" alt="" title="Krk" coords="184,156,181,172,192,191,204,206,219,214,234,212,250,199,259,178,260,169,262,155" href="" target="" data-body="8" />
  <area shape="poly" alt="" title="Rameno" coords="176,182,149,200,126,212,103,225,89,237,82,270,82,292,84,308,88,317,114,302,127,293,131,257,136,240,155,230,175,229,175,229" href="" target="" data-body="9" />
  <area shape="poly" alt="" title="Rameno" coords="265,182,286,191,311,205,329,216,347,228,361,252,363,276,363,313,358,326,338,310,318,294,314,250,306,234,266,231" href="" target="" data-body="9" />
  <area shape="poly" alt="" title="Hrudník" coords="208,246,301,248,315,303,222,315,133,303,144,249" href="" target="" data-body="11" />
  <area shape="poly" alt="" title="Ruka" coords="96,323,86,346,76,371,74,387,81,398,94,413,117,401,125,389,130,366,131,345,127,323" href="" target="" data-body="12" />
  <area shape="poly" alt="" title="Ruka" coords="356,331,362,348,370,369,372,386,367,405,360,412,342,413,328,402,323,388,318,366,316,351,318,331" href="" target="" data-body="12" />
  <area shape="poly" alt="" title="Predlaktie" coords="72,401,60,431,55,473,52,512,46,555,42,577,67,571,88,511,105,471,113,450,114,429" href="" target="" data-body="14" />
  <area shape="poly" alt="" title="Predlaktie" coords="376,400,387,424,392,452,395,494,399,527,406,565,380,566,373,539,359,507,344,473,335,435" href="" target="" data-body="14" />
  <area shape="poly" alt="" title="Brucho" coords="135,367,142,406,138,428,136,451,131,479,125,506,122,522,327,523,319,488,314,462,311,423,307,401,314,366" href="" target="" data-body="16" />
  <area shape="poly" alt="" title="Slabiny" coords="224,587,178,558,120,559,124,527,327,525,328,551,328,561,261,560,261,560" href="" target="" data-body="17" />
  <area shape="poly" alt="" title="Dlaň" coords="39,581,33,611,32,625,37,644,47,663,55,676,70,685,70,676,69,661,52,639,52,613,66,630,75,617,78,593,72,578" href="" target="" data-body="18" />
  <area shape="poly" alt="" title="Dlaň" coords="407,571,415,606,420,624,407,656,390,679,374,685,381,655,395,641,399,626,392,612,389,629,381,633,375,627,374,608,373,593,381,570" href="" target="" data-body="18" />
  <area shape="poly" alt="" title="Stehno" coords="115,592,219,593,220,630,214,663,203,708,200,776,192,813,122,811,123,765,116,718,113,657,113,657" href="" target="" data-body="20" />
  <area shape="poly" alt="" title="Stehno" coords="229,596,332,596,336,659,330,722,324,792,326,819,258,819,248,770,246,715,236,668,227,609,227,609" href="" target="" data-body="20" />
  <area shape="poly" alt="" title="Koleno" coords="121,816,119,844,118,860,179,866,187,834,191,815,191,815" href="" target="" data-body="22" />
  <area shape="poly" alt="" title="Koleno" coords="259,824,263,849,268,865,271,882,338,890,333,864,329,843,328,823" href="" target="" data-body="22" />
  <area shape="poly" alt="" title="Píšťala" coords="115,869,109,906,114,937,127,998,139,1050,146,1083,183,1083,179,1032,180,983,188,948,182,901,179,867" href="" target="" data-body="24" />
  <area shape="poly" alt="" title="Píšťala" coords="265,892,338,894,334,944,317,1021,303,1085,264,1081,270,1027,268,970,260,945,262,922" href="" target="" data-body="24" />
  <area shape="poly" alt="" title="Chodidlo" coords="145,1088,184,1088,188,1118,188,1143,188,1161,171,1172,136,1171,119,1165,116,1159,132,1137,140,1117" href="" target="" data-body="26" />
  <area shape="poly" alt="" title="Chodidlo" coords="260,1092,303,1092,307,1109,312,1128,319,1141,330,1160,320,1168,274,1172,262,1161,260,1149" href="" target="" data-body="26" />
  <!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
</map>

<div class="submit">
    <%= submit_tag 'Hľadaj', class: 'btn btn-large btn-primary' %>
</div>