<% provide(:title, "Rozšírené vyhľadávanie") %>

<div class="center hero-unit">
  <h2>Rozšírené vyhľadávanie</h2>

  <%= form_tag drugs_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :find, params[:name], :placeholder => "Toto zatiaľ nefunguje..." %>
        <%= submit_tag 'Hľadaj', class: "btn btn-large btn-primary" %>
        <div class="combobox">
            <%= select nil, nil, options_for_select([['Držiteľ', 'h'], ['Výrobca', 'p'], ['Dodávateľ', 's']]) %>
        </div>
      </p>

  <% end %>
</div>