<% provide(:title, "Prihlásenie") %>

<div class="row">
  <div class="span6 offset3">
    <h3>Zadajte používateľské meno</h3>
    <%= form_for(:session, url: sessions_path) do |f| %>
       
      <%= f.label :Meno %>
      <%= f.text_field :name %>

      <%= f.submit 'Prihlásiť', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
