<% provide(:title, 'Domov') %>

<div class="center hero-unit">

  <%= form_tag search_drugs_path, method: :get do %>

    <p>
      <%= text_field_tag(:q, '', :placeholder => 'Zadajte názov lieku') %>
      <%= submit_tag 'Hľadaj', class: "btn btn-large btn-primary" %>
    </p>

  <% end %>

 </div>


