@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

 /* _drug  */
.pocetVysledkov {
  border-radius: 20px;
  background-color: #a9d75b;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
}

.foundResults:nth-of-type(even) {
  border-radius: 20px;
  background-color: #a9d75b;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  margin-top: 20px
}

.foundResults:nth-of-type(odd) {
  border-radius: 20px;
  background-color: #87d174;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cast {

  overflow-y: auto;
  border-radius: 15px;
  padding: 5px 5px 5px 5px;

}

.cast.popis {

  background-color: #fffd6c;
  border-radius: 15px;
  padding: 5px 5px 5px 5px;

}

.cast.usage {

  background-color: #a5e6cf;
  border-radius: 15px;
  padding: 5px 5px 5px 5px;

}

.cast.name {

  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  font-family: serif;
  color:#4E443C;
  font-variant: small-caps;
  text-transform: none;

}

.cast.store.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  border:2px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;

}

.cast.store.button:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
   background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
   background-color:#dfdfdf;

  a:hover{
    text-decoration: underline !important;
    color: black !important;
    background-color: #dfdfdf !important;
  }

 }

.cast.store.button:active {
    position:relative;
    top:1px;
  }

 /* human body */
#humanBodyPicture {

  margin-left: auto;
  margin-right: auto;
  z-index: 1;

}

#selectedPart1 {

  display: none;
}

#selectedPart2 {

  display: none;
}

#selectedPart3 {

  display: none;
}

map > area:click {

  background-color: lightgray;

}

.submit {
  text-align: center;
}

.submit:hover {

  a:hover{
    text-decoration: underline !important;
    background-color: white;
    color: black;
  }

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#zdraviePNG{

  align: center;
  padding: 20px;
  width: 50%;
  height: 20%;

}

.home_search_input {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#body_heading {
  h1{
    text-align: left;
    margin: 30px 0 30px 160px;
  }
  h3 {
    text-align: left;
    margin: 0 0 30px 100px;
  }
  color: black;
}

/* Reminder */

.reminder {

  font-size: 30px;
  font-family: arial;
  font: bold;
  color: red;

  a {
    color: red !important;
    text-align: center;
    text-decoration: underline;
  }

}

.reminder:hover {

  a:hover{
    text-decoration: underline !important;
  }

}

/* header */

.navbar-inner{
  font-family: arial;
  font-size: 20px;
  background: #11cd3d !important;
  color: black !important;
}

.navbar-inner container{
  font-family: arial;
  font-size: 20px;
  background: #11cd3d !important;
  color: black !important;
}

.navbar{
  font-family: arial;
  font-size: 20px;
  background: #11cd3d !important;
  color: black !important;
}

.navbar .nav > li > a {
  color: black;
}

.center.hero-unit {
  background-color: white;
  text-align: center;
}

.btn {
  border-radius: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: black;
  a {
    color: black;
    &:hover { 
      color: black;
      background-color: white;
      text-decoration: underline;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.combobox {
  width: 120px;
  height: 30px;
  font-size: 8px;
  font-family: cursives;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
