<footer class="footer">
  <nav>
    <ul>
     <li><%= link_to 'O nás', '/about' %></li>                        &nbsp;
     <li><%= link_to 'Kontakt', '/contact' %></li>                    &nbsp;
     <li><%= link_to 'Fakulta', 'http://www.fiit.stuba.sk' %></li>    &nbsp;
     <li><%= link_to 'Štatistiky', '/stats' %></li>                   &nbsp;
    </ul>
  </nav>
</footer>